Q1: Write a Python program to generate the Fibonacci sequence up to
n terms.

● Input: n = 5

Output: [0, 1, 1, 2, 3]

● Input: n = 8

Output: [0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
# a
n1=int(input("enter number "))

a,b=0,1
print("Fibonacci Series:",a,b,end=" ")
for i in range(2,n1):
    c=a+b
    a=b
    b=c
    print(c,end=" ")
print()

In [ ]:
# b
n2=int(input("enter number : "))
a,b=0,1
print("Fibonacci Series:",a,b,end=" ")
for i in range(2,n2):
    c=a+b
    a=b
    b=c
    print(c,end=" ")

print()

Q2: Write a program to check if a number is an Armstrong number.

● Input: n = 153

Output: True

● Input: n = 123

Output: False

In [ ]:
n1 = int(input("Enter a number: "))
n2 = int(input("Enter a number: "))
print(n1 == sum(int(d)**len(str(n1)) for d in str(n1)))
print(n2 == sum(int(d)**len(str(n2)) for d in str(n2)))

Q3: Write a function to find the second largest number in a list without
using built-in functions like max().

● Input: [10, 20, 5, 8]

Output: 10

● Input: [3, 7, 1, 9, 5]

Output: 7

In [ ]:
def second_largest(lst):
    lst.remove(max(lst))
    return max(lst)
print(second_largest([10, 20, 5, 8]))
print(second_largest([3, 7, 1, 9, 5]))


Q4: Given two numbers, write a Python program to swap them
without using a third variable.

● Input: a = 5, b = 10

Output: a = 10, b = 5

● Input: a = -2, b = 7

Output: a = 7, b = -2

In [ ]:
# a
a, b = map(int, input("Enter two numbers: ").split())
print(f"Before swapping: a = {a}, b = {b}")
a = a + b
b = a - b
a = a - b
print(f"After swapping: a = {a}, b = {b}")

In [ ]:
a, b = map(int, input("Enter two numbers: ").split())
print(f"Before swapping: a = {a}, b = {b}")
a = a + b
b = a - b
a = a - b
print(f"After swapping: a = {a}, b = {b}")

Q5: Write a program to evaluate the expression ((a + b) * c / d) % e.

● Input: a=10, b=5, c=2, d=3, e=4

Output: 3.0

● Input: a=8, b=2, c=4, d=2, e=5

Output: 1.6

In [ ]:
# a
a, b, c, d, e = map(int, input("Enter five numbers: ").split())
result = (((a + b) * c / d) % e)
print(result)

In [ ]:
# b
a, b, c, d, e = map(int, input("Enter five numbers: ").split())
result = (((a + b) * c / d) % e)
print(result)

Q6: Write a program that checks if a given year is a leap year or not.

Input: year = 2024

Output: True

● Input: year = 2023

Output: False

In [ ]:
year1=int(input("enter year : "))
year2=int(input("enter year : "))

if (year1 % 4 == 0 and year1 % 100 != 0) or (year1 % 400 == 0):
    print(True)
else:
    print(False)
print("------------------")
if (year2 % 4 == 0 and year2 % 100 != 0) or (year2 % 400 == 0):
    print(True)
else:
    print(False)

Q7: Write a program to merge two dictionaries and sum the values of
common keys.

● Input: d1 = {'a': 10}, d2 = {'a': 5, 'b': 3}

Output: {'a': 15, 'b': 3}

In [ ]:
d1={'a':10}
d2={'a':5,'b':3}
d3={}
for key,value in d1.items():
    if key in d2:
        d3[key]=value+d2[key]
    else:
        d3[key]=value
for key,value in d2.items():
    if key not in d3:
        d3[key]=value
print(d3)

Q8: Write a Python script to find the key with the maximum value in a
given dictionary.

● Input: {'a': 10, 'b': 30, 'c': 25}

Output: 'b'

In [ ]:
a={'a': 10, 'b': 30, 'c': 25}
print(max(a,key=a.get))

Q9: Write a Python program to find the index of an element in a tuple
without using the index() method.

● Input: t = (4, 7, 1, 9), value = 7

Output: 1

In [ ]:
t=(4,7,1,9)
value=7
for i in range(len(t)):
    if t[i]==value:
        print(i)
print()

Q10: Given a tuple of numbers, write a program to calculate the sum
of all elements.

● Input: t = (1, 2, 3, 4)

Output: 10

In [ ]:
t=(1,2,3,4)
sum=0
for i in t:
    sum+=i
print(sum)

Q11: Write a Python program to remove duplicates from a list using a
set.

● Input: [1, 2, 2, 3, 4, 4]

Output: {1, 2, 3, 4}

In [ ]:
a=[1,2,2,3,4,4]
b=set(a)
print(b)

Q12: Write a Python program to check if one set is a subset of
another.

● Input: set1 = {1, 2}, set2 = {1, 2, 3, 4}

Output: True

In [ ]:
set1={1,2}
set2={1,2,3,4}
print(set1.issubset(set2))

Q13: Write a Python program to find the second smallest number in a
list.

● Input: [10, 5, 8, 3, 12]

Output: 5

● Input: [20, 15, 25,30]

Output: 20

In [ ]:
# a
a=[10,5,8,3,12]
def second_smallest(lst):
    lst.remove(min(lst))
    return min(lst)
print(second_smallest(a))

In [ ]:
# b
a=[20,15,25,30]
def smallest(lst):
    lst.remove(min(lst))
    return min(lst)
print(smallest(a))

Q14: Write a program to find the common elements between two lists.

● Input: [1, 2, 3], [2, 3, 4]

Output: [2, 3]

In [ ]:
a=[1,2,3],[2,3,4]
common_elements=[]
for i in a[0]:
    if i in a[1]:
        common_elements.append(i)
print(common_elements)

Q15: Write a Python program to find the common elements between
two lists without using the intersection() method.

● Input:

list1 = [1, 2, 3, 4, 5]

list2 = [4, 5, 6, 7]

Output:

[4, 5]
● Input:

list1 = [10, 20, 30]

list2 = [30, 40, 50]

Output:

[30]

In [ ]:
# a
list1=[1,2,3,4,5]
list2=[4,5,6,7]
common_elements=[]
for i in list1:
    if i in list2:
        common_elements.append(i)
print(common_elements)

In [ ]:
# b
list1=[10,20,30]
list2=[30,40,50]
common_elements=[]
for i in list1:
    if i in list2:
        common_elements.append(i)
print(common_elements)

Q16: Write a Python program to count the occurrences of each
character in a string.

● Input: "hello"

Output: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
a = "hello"
char_counts = {}
for char in a:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1
occurrence_of_l = a.count('l')
print(char_counts)

Q17: Write a program to check if a string is a palindrome without
using string reversal functions.

● Input: "madam"

Output: True

● Input: "hello"

Output: False

In [ ]:
a='madam'
b='hello'
print(a==a[::-1])
print()
print(b==b[::-1])

Q18: Write a program to classify a number as positive, negative, or
zero.

● Input: n = -5

Output: "Negative"

● Input: n = 0

Output: "Zero"

In [ ]:
# a
n=-5
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

In [ ]:
# b
n=0
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

Q19: Write a Python program to print the multiplication table of a
given number using a for loop.

● Input: n = 3

Output: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
n = int(input("Enter a number: "))
print([n * i for i in range(1, 11)])

Q20: Write a Python program to reverse a given number using a while
loop.

● Input: 1234

Output: 4321

In [ ]:
a=1234
reverse=0
while a>0:
    reverse=(reverse*10)+a%10
    a//=10
print(reverse)

Q21: Write a Python function to check if a number is prime.

● Input: 7

Output: True

● Input: 9

Output: False

In [ ]:
#a
a=int(input("enter a number : "))
def prime(a):
    if a<=1:
        return False
    for i in range(2,int(a**0.5)+1):
        if a%i==0:
            return False
    return True
print(prime(a))

In [ ]:
# b
b=int(input("enter a number : "))
def is_prime(b):
    if b<=1:
        return False
    for i in range(2,int(b**0.5)+1):
        if b%i==0:
            return False
    return True
print(is_prime(b))

Q22: Write a recursive function to calculate the sum of digits of a
number.

● Input: n = 123

Output: 6

In [ ]:
n=123
def sum_of_digits(n):
    if n==0:
        return 0
    else:
        return n%10+sum_of_digits(n//10)
print(sum_of_digits(n))

Q23: Write a lambda function to find the square of a number.

● Input: n = 5

Output: 25

● Input: n = 9

Output: 81

In [ ]:
#a
n=5
square=lambda n:n**2
print(square(n))

In [ ]:
#b
n=9
square=lambda n:n**2
print(square(n))

Q24: Write a lambda function to filter out even numbers from a list.

● Input: [1, 2, 3, 4, 5, 6]

Output: [2, 4, 6]

In [ ]:
n=[1,2,3,4,5,6]
even=list(filter(lambda x:x%2==0,n))
print(even)

Q25: Write a Python program to square all elements in a list using the
map() function.

● Input: [1, 2, 3]

Output: [1, 4, 9]

In [ ]:
x=[1,2,3]
square=list(map(lambda x:x**2,x))
print(square)

Q26: Write a Python program to find the sum of elements in a list
using the reduce() function.

● Input: [1, 2, 3, 4]

Output: 10

In [ ]:
from functools import reduce
a = [1, 2, 3, 4]
sum_result = reduce(lambda x, y: x + y, a)
print(sum_result)

Q27: Write a Python program to handle division by zero using
try-except.
● Input: a = 10, b = 0
Output: "Cannot divide by zero"

In [ ]:
a=10
b=0
try:
    result=a/b
except ZeroDivisionError:
    print("cannot divide by zero")

Q28: Write a program to handle key errors when accessing a
dictionary.

● Input: d = {'a': 1}, key = 'b'

Output: "Key not found"

In [ ]:
d={'a':1}
key='b'
try:
    value=d[key]
except KeyError:
    print("key not found")

Q29: Write a Python program to create and start a thread that prints
 numbers from 1 to 5.
 ● Input: None
 Output: 1 2 3 4 5

In [ ]:
import threading
def print_numbers():
    for i in range(1,6):
        print(i)
thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

Q30: Write a Python program that creates and starts two threads. The
first thread should print numbers from 1 to 5, and the second thread
should print the letters 'A' to 'E'. Ensure both threads run
simultaneously. Add time.sleep(0.1) in both functions to simulate a
time delay and allow the threads to switch between each other.

In [ ]:
import threading
import time
def print_numbers():
    for i in range(1, 6):
        print(i)
        time.sleep(0.1)
def print_letters():
  for letter in 'ABCDE':
    print(letter)
    time.sleep(0.1)
thread1 = threading.Thread(target=print_numbers)
thread2 = threading.Thread(target=print_letters)
thread1.start()
thread2.start()
thread1.join()
thread2.join()

31: Write a Python program that imports a custom module
containing a function to add two numbers.

● Input: add(3, 5)

Output: 8

In [ ]:
def add(a,b):
    return a+b
print(add(3,5))